.main {
  max-width: 1250px;
  margin: auto;

  gap: var(--sp-sm);
}

.sidenav,
.content {
  padding: var(--sp-xxl) var(--sp-sm) var(--sp-lg);
}

.sidenav {
  flex-shrink: 0;
  width: var(--sp-x16);
  padding-left: var(--sp-x4);
  overflow-y: auto;
}

.content {
  flex-grow: 1;
  padding-right: var(--sp-x4);
}

@media only screen and (max-width: 960px) {
  .sidenav {
    display: none;
  }

  .main {
    padding-right: var(--sp-x4);
    padding-left: var(--sp-x4);
  }
}
